src/__pycache__/
Data/
test.ipynb
src/snscrape/modules/__pycache__/
src/snscrape/__pycache__/
src/snscrape/modules/.ipynb_checkpoints/
src/snscrape/.ipynb_checkpoints/
.ipynb_checkpoints/
src/data_delete.py
test2.ipynb
sns.db
sns.db-journal
